body{
        background-color: rgba(33, 46, 132, 0);
        font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
.navContainer {
padding: 10px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 768px){
    body {
    text-align: left;
}
}
.navContainer .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}
.navContainer .navBar-mainLink {
    height: 100%;
}
.sylvanBodyCopy {
    font-family: "proxima-nova", arial, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.014em;
}
.navContainer .logoContainer {
    display: inline-block;
}
.navContainer .navBar-mainLink {
    height: 100%;
}
.sylvanBodyCopy {
    font-family: "proxima-nova", arial, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.014em;
}
.navContainer .navBar-mainLink .navBar-mainLinkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.navContainer .navBar-mainLink .navBar-mainLinkContainer a {
    display: inline-block;
    width: auto;
    font-weight: normal;
    letter-spacing: normal;
}
.navContainer .navBar-mainLink a {
    color: #454545;
}
.navContainer .navBarSubList {
    display: none;
    position: absolute;
    height: auto;
    margin: 0 0 0 -41px;
    padding: 30px;
    z-index: 10;
    border: solid;
    border-color: RGBA(47, 144, 206, 1);
    -webkit-border-image: -webkit-gradient(linear, left top, right top, from(#24A7DE), to(#602983));
    -webkit-border-image: -webkit-linear-gradient(left, #24A7DE 0%, #602983 100%);
    -o-border-image: -o-linear-gradient(left, #24A7DE 0%, #602983 100%);
    border-image: -webkit-gradient(linear, left top, right top, from(#24A7DE), to(#602983));
    border-image: linear-gradient(to right, #24A7DE 0%, #602983 100%);
    border-image-slice: 1;
    border-width: 3px 0 0 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.navContainer .navBarSubList .navBarSubList-item {
    margin-bottom: 10px;
}
.sylvanBodyCopy {
    font-family: "proxima-nova", arial, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.014em;
}
.navContainer .navBarSubList:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #2F90CE;
    border-width: 10px;
}
.navContainer .navBarSubList .navBarSubList-item a {
    font-family: "proxima-nova", arial, sans-serif;
    font-size: 11pt;
    color: #919191;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: normal;
}
.navContainer .navBar-mainLink {
    height: 100%;
}
navContainer .navBar-mainLink .navBar-mainLinkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.navContainer .navBar-mainLink .navBar-mainLinkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
a:visited {
    color: #232483;
}
.navContainer .navBarSubList .navBarSubList-item--last {
    margin-bottom: 0;
}
.navContainer .navBar-phoneContainer {
    min-width: 155px;
}
.navContainer .navBar-phoneContainer .navBar-phoneContent {
    position: absolute;
    margin-top: -19px;
    color: #232e84;
}
.sylvanSubhead {
    font-family: "proxima-nova", arial, sans-serif;
    font-size: 7.5pt;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.navContainer .navBar-phoneContainer .navBar-phoneNumber {
    color: #dd1852;
}

.sylvanProximaNovaH3Bold {
    font-family: "proxima-nova", arial, sans-serif;
    font-size: 17pt;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.scrolledMobileTopNavBar, .mobileTopNavBar{
    display: none;
}
.navBar-sylvanLogo{
    height: 85px;
    width: 100px;
    
}
.container {
    width: 1040px;
}
/******************************************************************

Helpers

******************************************************************/

.block {
    display: block;
  }
  
  .italic {
      font-style:italic;
  }
  
  .hidden {
      display:none !important;
  }
  
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }
  
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  .cf {
      *zoom: 1;
  }
  
  .overflow-fix {
      overflow: hidden;
  }
  
  .nounderline {
    text-decoration: none !important;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .lowercase {
    text-transform: lowercase !important;
  }
  
  small {
      font-size: 80%;
  }
  
  strong {
      font-weight: 600;
  }
  
  .container {
      position: relative;
  }
  
  .image-circle {
      border-radius: 50%;
  }
  
  .image-responsive {
    max-width: 100%;
    height: auto;
  }
  
  .pull-left {
      float: left;
  }
  
  .pull-right {
      float: right;
  }
  
  // HW accelerator
  .hw {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
  }
  
  .last {
      margin-right: 0 !important;
  }
  
  /*
   * Image replacement
   */
  .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
  }
  
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
  
  .text-hide {
    color: transparent;
    font-size: 0;
    text-shadow: none;
    vertical-align: middle;
  }
  
  .fixed {
      position: fixed;
  }
  
  .relative {
      position: relative;
  }
  
  .absolute {
      position: absolute;
  }
  
  .full-width {
      width: 100%;
  }
  .half-width {
      width: 50%;
  }
  
  .center {
      margin: 0 auto;
  }
  
  .smooth {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
  }

  /******************************************************************

Mixins

Based on: Bones - github.com/eddiemachado/bones

******************************************************************/

/*
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
    // defining prefixes so we can use them in mixins below
    $prefixes:      ("-webkit-", "" );
    @each $prefix in $prefixes {
      #{$prefix}transition: $transition;
    }
  }
  
  /*********************
  CSS3 GRADIENTS
  *********************/
  
  /* @include css-gradient(#dfdfdf,#f8f8f8); */
  @mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
      background-color: $to;
      background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
      background-image: -webkit-linear-gradient(top, $from, $to);
      background-image: -moz-linear-gradient(top, $from, $to);
      background-image: -o-linear-gradient(top, $from, $to);
      background-image: linear-gradient(to bottom, $from, $to);
  }
  
  /*********************
  BOX SIZING
  *********************/
  
  /* @include box-sizing(border-box); */
  @mixin box-sizing($type: border-box) {
      -webkit-box-sizing: $type;
      -moz-box-sizing:    $type;
      -ms-box-sizing:     $type;
      box-sizing:         $type;
  }
  
  
  /******************************************************************

Print stylesheet

******************************************************************/

* {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
  }
  
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  
    // show links on printed pages
    &:after {
      content: " (" attr(href) ")";
    }
  
    // show title too
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }
  
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  
  thead {
    display: table-header-group;
  }
  
  tr, img {
    page-break-inside: avoid;
  }
  
  img {
    max-width: 100% !important;
  }
  
    @page {
      margin: 0.5cm;
    }
  
    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  
    // hide content people who print don't need to see
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    nav {
      display: none;
    }
  